<div id = "policy">
    <h1> PRIVACY POLICY </h1>
    <h2> Disclaimer for Kord Pad</h2>
    <p> If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at <a href="mailto:webtek@email.com">webtek123sample.com</a>.<br />
    <h2>Disclaimers for http://se3316a-ab96.c9users.io:8081/:</h2>
    
    <p>The information we collect from you is your email address to be a username, a password so you can login, and you chord sheet data which can be kept private or public, the public chord sheet data can be seen by any visitor of the site, the private data is only seen by you and not shared anyhwere. We also dont share your email or password with anyone. Third parties that can access public sheet data can include anyone, including regular visitors to anyone. You consent by using this site that people seeing your public chords stuff and your username is ok.</p>
    <p>We also store things like last update date, view settings, version of you chord sheets, this data is for you to know your usage history and other to know when chords were last updated.</p>
    <p>
    All the information on this website is published in good faith and for general information purpose only. http://se3316a-ab96.c9users.io:8081/ does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (http://se3316a-ab96.c9users.io:8081/), is strictly at your own risk. http://se3316a-ab96.c9users.io:8081/ will not be liable for any losses and/or damages in connection with the use of our website.
    </p>
    <p>
    From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.
    </p>
    <p>
    Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.
    </p>
    
    <h3>Consent</h3>
    <p>
    By using our website, you hereby consent to our disclaimer and agree to its terms.
    </p><h3>Update</h3>This site disclaimer was last updated on: Saturday, November 26th, 2016<br /><em> · Should we update, amend or make any changes to this document, those changes will be prominently posted here.</em><br /><br /><hr />
</div>